@import "../../node_modules/bulma/css/bulma.min.css";

.dialog {
  border: none;
  border-radius: var(--bulma-radius-large);
  padding: 0;
}

.dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}

.timer {
  display: grid;
  place-items: center;
  gap: 0.75rem 0rem;
}

.timer .icon {
  font-size: 2.5rem;
}

.reset-icon {
  transform: rotate(180deg);
}

#check-in .p-card,
#diagnostic-pacing .p-card {
  margin-bottom: 0.5rem;
}

#check-in .subtitle {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

#check-in .p-card-body,
#diagnostic-pacing .p-card-body {
  padding: 0.75rem;
}

#check-in .description,
#diagnostic-pacing .description {
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
}

p,
is-6,
is-size-6 {
  letter-spacing: 0.015rem;
}
