@import "../../node_modules/bulma/css/bulma.min.css";

.dialog {
  border: none;
  border-radius: var(--bulma-radius-large);
  padding: 0;
}

.dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}

.timer {
  display: grid;
  place-items: center;
  gap: 0.75rem 0rem;

  .icon {
    font-size: 2.5rem;
  }
}

.reset-icon {
  transform: rotate(180deg);
}
